.guitarAmp {
  height: 100%;
  width: 100%;
}

.guitarAmpToolbar {
  background-color: purple;
  padding: 0px important!;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.effectArea {
  background-color: blue;
  padding: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}