html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.guitarAmp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.guitarAmpToolbar {
  display: flex;
  flex-direction: column;
}

.guitarAmpToolbar {
  background-color: orange;
  height: 100px;
}


.effectArea {
  display: inline-block;
  background-color: lightblue;
  flex: 1;
}

